<div class="row">
  <div class="col-4"></div>

  <div class="col-4">
    <div class="card p-3">
      <h2 class="text-center">Profile</h1>
      <%= record_field @user, :username %>
      <%= record_field @user, :email %>
      <%= record_field @user, :joined %>
      <%= record_field @user, :notes_count %>
    </div>

    <div class="mt-4">
      <h3 class="text-center">Latest notes</h3>

      <%= render @latest_notes %>
    </div>
  </div>

  <div class="col-4"></div>
</div>